{% extends 'base.html.twig' %}


{% block stylesheets %}

{{ parent() }}
<!-- Stylesheet GOOGLE FONT -->
<link rel="stylesheet" href="{{ asset('css/style.css') }}" crossorigin=""/>
<link rel="stylesheet" href="{{ asset('css/style-advanced-search.css') }}" crossorigin="" />
{% endblock %}

{% block container %}
<main>


</main>
{% endblock %}


