{% extends 'base.html.twig' %}

{% block body %}

<div class="home_background">

  <h1> <img src="{{ asset('pictures/logo.png') }}"> </h1>

  <div class="example-wrapper">
  Salut !
  </div>

</div>
{% endblock %}