html{
    height: fit-content;
}

body {
    color: #3243c4;
    background-image: url("../pictures/advanced-search-background/santorini.jpg");
}

h1{
    margin: 1rem, 0, 1.5rem, 0;
}

.form-container-search{
    width: 30rem;
    background-color: white;
    padding: 3rem;
    border: 2px solid #4885db;
    border-radius: 3%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 4rem;
    text-align: center;
    box-shadow: 5px 5px 1px 1px rgba(153, 107, 107, 0.2);
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
} 

a{
    color: rgb(37, 192, 185);
    margin: 1rem 0 1.5rem 0;
}

a:hover{
    color: rgb(255, 174, 0);
    text-decoration: none;
}

p.text-center{
    margin-top: 1rem;
}

.search-error-hidden{
    margin-top: 1rem;
}

input#search {
    border: 2px solid #507DBC;
}

.search-error-hidden {
    display:none;
}

.search-error-show{
    margin-top: 0.8rem;
}

.fill-viewheight{
    height:23.5vh;
}

/* footer {
    position : absolute;
    bottom: 0;
} */

@media only screen and (max-width: 767px) {
    .form-container-search{
        width:75%;
        padding: 2rem;
        border-radius: 2%;
    }

    h1{
        font-size: 2rem;
    } 

    .fill-viewheight{
        display:none;
    }

}

@media (max-width: 1000px) {

    .fill-viewheight{
        display:none;
    }

}
@media (min-width: 1400px) {}
@media (min-width: 1600px) {}
