
.h1-register {
  margin-top : 2%;
  font-size: 2em;
}

a.authentication {
  font-size: 1em;
  color: #28a745;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.form-submit{
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #56967D;
  border-radius: 2px;
  padding: 0.5em;
  position: absolute;
  bottom: -300px;
  left: 74%;
  transform: translateX(-50%)
}


@media (min-width: 375px) {
  button[type="submit"] {
    left: 50%;
    top: 120%; 
    height : 10%;
  }
}

@media (min-width: 992px) { 
  a.authentication{
    top: 14%;
  }

  button[type="submit"] {
    left: 50%;
    top: 120%; 
  }
}
