body {
  margin: 0px; 
}

header {
  margin : 0px; 
  width: 100%;
  height: 100vh;
  background-image: url(../pictures/winding-road3.jpg);
 }

 nav {
   text-align: center; 
   padding-top: 20px;
   width: 100%;
   position:fixed; 
 }

nav .logo {
  height: 150px;
}

nav ul {
  list-style-type: none;
  font-size: 24px;
}

nav li {
  display: inline-block; 
  vertical-align: middle;
  margin-right: 20px; 
}

 nav a {
   text-decoration: none;
   color : white; 
 }

