body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
 }

/*  STYLE HEADER*/

 header {
   height : 15vh;
   background-color:#9ab3f5;
   position:fixed; 
   width: 100%;
 }

 nav {
   text-align: center; 
   width: 100%;
   max-height: 120px;
   
}

 nav .logo {
  height: 80px;
  vertical-align: top;
}

nav ul {
  list-style-type: none;
  font-size: 20px;

}

nav li {
  display: inline-block; 
  vertical-align: middle;
  margin-right: 20px; 
}

 nav a {
   text-decoration: none;
   color: white;
   text-shadow:black 1px 0 10px;
 }

 
nav a:hover {
  text-decoration: none;
  text-shadow: none; 
  color: #03383B;
}

/*  STYLE HEADER*/

 /*  STYLE FOOTER */
footer {
  background-color: #a3d8f4;
  bottom: 0;
  height : 6%;
  width: 100%;
}

footer ul {
  list-style-type: none;
}

footer .nav {
  display: flex;
  justify-content: space-around;
}

footer a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  text-shadow:black 1px 0 10px;
}

footer a:hover {
  text-decoration: none;
  color: #03383B;
}


/*  END STYLE FOOTER */